/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box; 
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
}

h1{
   margin-left: 50px;
   font-family: 'Gill Sans';
}

button{
  margin-left: 50px;
  font-family: 'Gill Sans';
}

h2{
  margin-left: 50px;
  font-family: 'Gill Sans';
  
}

h3{
  margin-left: 50px;
  font-family: 'Gill Sans';
  color:slateblue;

}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
